:root{
     --base-color:#213448;
     --layer-color:#547792;
     --font-color:#ECEFCA;
     --light-color:#94B4C1;
     --body-color1:#d9d9d9;
     --body-color2:#ecefca;
     --bodt-color3:#b2b2b2;
     --button-weight: 700;
     --font-family: "Saira", sans-serif;
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 *::selection{
     background-color: var(--light-color);
}
a{
 
  text-decoration: none;
}
ul{
  list-style-type: none;
}
/***************************************** scrollbar******************************* */
 ::-webkit-scrollbar {
     width: 0.75rem;
}
 ::-webkit-scrollbar {
     width: 0.75rem;
     background-color: var(--body-color1);
}
 ::-webkit-scrollbar-thumb {
     background:var(--base-color);
     box-shadow: 0rem 0rem 0.625rem 0rem #eeeeee8c inset;
     border-radius: .625rem;
}
 body,html{
     scroll-behavior: smooth;
}
 body{
     letter-spacing: 0.0625rem;
     --s: 5.125rem;
     --c1:var(--bodt-color3);
     --c2: var(--body-color2);
     --c3: var(--body-color1);
     --_g: var(--c3) 0 120deg,#0000 0;
     background: conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)), conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)), conic-gradient(from 60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0), conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)), linear-gradient(90deg,var(--c1) calc(100%/6),var(--c2) 0 50%, var(--c1) 0 calc(500%/6),var(--c2) 0);
     background-size: calc(1.732*var(--s)) var(--s);
     overflow-x: hidden;
     color: var(--font-color);
     font-family: var(--font-family);
     background-color: var(--font-color);
}
/********************************************* NAVBAR*********************************************/
 .navbar {
  transition: top 0.3s ease;
   top: 0;
}

.logo{
     height: 6.875rem;
}
 ul{
     font-size: 1.1875rem;
     font-weight: var(--button-weight);
}
 /* .menu .current-menu-item .active {
     color:var(--layer-color);
} */
 .menu .menu-item a:hover {
     color: var(--light-color);
     
}
.navbar li a:hover::before{
   
    width:80%;

  }

.navbar li a{
  display: block;
  position:relative ;
 
}
   .navbar li a::before{
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: .125rem; 
 background-color: var(--font-color);
 top:40px;
 
 transition: width 400ms ; 

   
  }
 .b1, .b3{
     border: none;
     cursor: pointer;
     border-radius: 1.25rem;
     padding: 0.3125rem 1.5625rem;
     color: var(--font-color);
     background-color: var(--layer-color);
     transition: 500ms;
     font-weight: var(--button-weight);
     
}
 .b2{
      cursor: pointer;
     border: none;
     border-radius: 1.25rem;
     padding: 0.3125rem 1.5625rem;
     color: var(--font-color);
     background-color:transparent;
     transition: 500ms;
     font-weight: var(--button-weight);
}
 a:hover{
   
     color: var(--base-color);
}
.button:hover{
      background-color: var(--light-color);
}
/* nav a.active{
     border: none;
     border-radius: 1.25rem;
     padding: 0.3125rem 1.5625rem;
     color: var(--font-color);
     background-color: var(--layer-color);
} */
/******************************************* HOME *******************************************/
.header{
    width: 100%;
    min-height: 100vh;
}
 h1{
     font-size: 3.125rem;
     font-weight: 1000;
}
 h2{
     color: var(--font-color);
}
 h1{
     background: #547792;
     background: linear-gradient(0deg, rgba(84, 119, 146, 1) 0%, rgba(236, 239, 202, 1) 88%);
     background-clip: text;
     -webkit-text-fill-color: transparent;
}
 .h-rev{
     padding-bottom: 2.5rem;
     background: #213448;
     background: linear-gradient(0deg, rgba(33, 52, 72, 1) 41%, rgba(236, 239, 202, 1) 100%);
     background-clip: text;
     -webkit-text-fill-color: transparent;
}
 .typing {
     border-right: 0.1875rem solid var(--light-color);
     white-space: nowrap;
     overflow: hidden;
     width: 0;
     animation: typing 4s steps(40, end) infinite, blink 0.75s step-end infinite;
}
 @keyframes typing {
     0%{
         width: 0;
    }
     70%{
         width: 100%;
    }
     100%{
         width: 100%;
    }
}
 @keyframes blink {
     50% {
         border-color: transparent;
    }
}
 .header p{
     font-size: 1.25rem;
     font-weight: 400;
     width: 43.75rem;
}
 .container{
     position: relative;
     width: 100%;
}
 .line1 i,span{
     color: var(--layer-color);
     text-shadow: 0.0625rem 0.0625rem 0.125rem black, 0 0 1.5625rem var(--layer-color), 0 0 0.3125rem var(--light-color);
}
/*********************************************HOW ITWORKS ********************************/
 .section-how-works{
    width: 100%;
     height: 62.5rem;
}
 h2{
     font-weight: 1000;
     font-size: 3rem;
     line-height: 1.2;
}
 .section-how-works h2{
     padding-bottom: 5rem;
     padding-top: 0.625rem;
}
 .first-circle ,.second-circle ,.third-circle, .forth-cricle ,.fifth-circle ,.div1 ,.div2 ,.div3 ,.div4 ,.div5 ,.div6{
     background-color: var(--font-color);
     color: var(--base-color);
     padding: 2.5rem;
}
 .w-33{
     width: 33.333333%;
}
 .w-8{
     width: 8.333333%;
}
 .mb-7{
     margin-bottom: 25rem;
}
 .border-r{
     border-radius: 624.9375rem;
}
 .text-2xl{
     font-size: 1.5rem;
     line-height: 2rem;
     font-weight: var(--button-weight);
}
 .text-xl{
     font-size: 1.125rem;
}
 .section-how-works p, .p {
     opacity: 0;
     max-height: 0;
     overflow: hidden;
     transition: all 0.8s ease;
}
 .section-how-works .hover:hover p, .section-how-works .hover:hover .p {
     opacity: 1;
     max-height: 12.5rem;
}
 .arrow{
     width: 5rem;
     height: 5rem;
     opacity: 0.2;
}
 .arrow1{
     width: 7.5rem;
     height: 9.375rem;
     opacity: 0.5;
}
 .rotate-90{
     transform: rotate(90deg);
}
 .box-mini{
     border-radius: 624.9375rem;
     padding-left: .75rem;
     padding-right: .75rem;
}
 .box {
     --tw-border-opacity: 0.1;
     border: 0.125rem solid var(--base-color);
}
 .parent {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: 1fr;
     grid-column-gap: 0rem;
     grid-row-gap: 0rem;
}
 .div1 {
     grid-area: 1 / 1 / 2 / 2;
}
 .div2 {
     grid-area: 1 / 2 / 2 / 3;
}
 .div3 {
     grid-area: 1 / 3 / 2 / 4;
}
 .div4 {
     grid-area: 1 / 4 / 2 / 5;
}
 .div5 {
     grid-area: 1 / 5 / 2 / 6;
}
 .div6 {
     grid-area: 1 / 6 / 2 / 7;
}
/********************************************** CREATE ***************************/
 .model{
     --progress-bar-color: transparent;
}
 .carousel-item {
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
     transition: opacity 1.3s ease-in-out;
}
 .carousel-item.active {
     position: relative;
     opacity: 1;
     z-index: 2;
}
 model-viewer::part(default-progress-bar) {
     display: none;
}
 .wave{
     display: block;
     width: 100%;
     height: 9.75rem;
     margin: 0;
     padding: 0;
     position: relative;
     bottom: 0;
     transform: rotate(180deg);
}
 .header{
     margin-bottom: -0.3125rem;
}
 .d2 img{
     width: 95%;
     height: 31.25rem;
     object-fit: contain;
     background: transparent;
     border: none;
}
 .d2,.d3{
     display: flex;
     justify-content: center;
     border-radius: 2.5rem;
     height: 28.125rem;
     width: 40%;
     padding-top: 4rem;
     width:31.25rem;
     margin: 0 auto;
     background-image: url(/home/images/field@1x-0.8s-1536px-703px\ \(3\).png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     align-items: center;
}
 .gap-20{
     gap: 3.75rem;
}
 .galary-section{
     background-image: url(/home/images/download.webp);
     background-repeat: repeat;
     background-position: top left;
     background-size: 4rem 4rem;
     background-color: #101010;
     background-blend-mode: overlay;
}
 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
     background-color: var(--base-color);
     border: 0.0625rem solid rgba(255, 255, 255, .2);
}
 .slider ul {
     margin-bottom: 3.125rem;
     cursor: pointer;
     gap: 1.25rem;
     display: flex;
     justify-content: space-between;
}
 .nav-tabs {
     margin-bottom: 3.125rem;
     border-bottom: none;
}
 .nav-tabs .nav-link {
     text-align: center;
     background-color: #212121;
     border: 0.0625rem solid rgba(255, 255, 255, 0.2);
     width: 100%;
     padding-inline: 4.375rem;
     border-radius: 3.75rem;
     transition: background-color 0.8s, transform 0.8s;
     color: white;
}
 .nav-tabs .nav-link:hover {
     background-color: var(--light-color);
     transform: scale(1.02);
}
 .nav-tabs .nav-link:hover span {
     color: var(--base-color);
}
 .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus {
     background-color: var(--layer-color);
     border: 0.0625rem solid rgba(255, 255, 255, 0.2);
     color: white;
     transform: scale(1);
}
 .nav-link span{
     transition: 0.8s;
     color: var(--font-color);
     font-size: 1.6rem;
     font-weight: var(--button-weight);
     text-shadow: none;
     text-align: center;
}
 .slider{
     padding: 18.75rem;
     padding-top: 0rem;
     align-items: center;
}
 .d2 img{
     margin-bottom: 5.625rem;
}
 @keyframes bump {
     0% {
         transform: translate(-50%, 0.3125rem);
    }
     100% {
         transform: translate(-50%, -0.3125rem);
    }
}
 model-viewer{
     width: 68%;
     height: 31.25rem;
     margin-bottom: 5.625rem;
     background-color: transparent !important;
     --poster-color: transparent;
     --progress-mask: transparent;
     border: none;
     object-fit: contain;
}
 .model4{
     width: 88%;
}
 .carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover {
     background-color: transparent;
}
/*************************************QUSTION***********************************/
 .frequently-left{
     width: 40%;
}
 .frequently-right{
     width: 60%;
}
 .qustion-section .container{
     width: 120rem;
     box-sizing: border-box;
     margin: 12rem auto 0rem;
     display: flex;
     justify-content: space-between;
     gap: 4.8rem;
}
 .qustion-section{
     padding-top: 4rem;
     width: 101.8rem;
     margin-bottom: 2.5rem;
     background-size: 4rem 4rem;
     background-color: var(--base-color);
     background-blend-mode: overlay;
}
 .accordion-item{
     border-radius: 1rem;
     border: none;
     background: #ffffff0d;
     color: #fff;
     overflow: hidden;
     padding: 1.5625rem;
     margin-bottom: 1.6rem;
}
 .accordion-item span{
     color: #fff;
     font-size: 2.4rem;
     font-style: normal;
     font-weight: 590;
     line-height: normal;
     text-shadow: none;
}
 .accordion-header img{
     width: 2.5rem;
     height: 2.5rem;
     object-fit: cover;
     cursor: pointer;
     transition: transform 0.5s;
}
 .accordion-header{
     display: flex;
     justify-content: space-between;
}
 .accordion-header img.rotate {
     transform: rotate(90deg);
}
 .accordion-content p {
     margin-top: 1.6rem;
     color: rgba(255, 255, 255, 0.75);
     font-size: 1rem;
     font-style: normal;
     font-weight: 510;
     line-height: 150%;
}
 .frequently-left p {
     margin-top: 1.6rem;
     color: rgba(255, 255, 255, 0.75);
     font-size: 1.25rem;
     font-style: normal;
     font-weight: 510;
     line-height: 150%;
}
/******************************** COUNTER ***********************************/
 .wave3{
     z-index: -1;
}
 .counter{
     background-color: transparent;
     height: 18.75rem;
}
 .stats-container {
     display:grid;
     grid-template-columns: repeat(auto-fit, minmax(13.75rem,1fr));
     gap:2rem;
     text-align:center;
}
 .stat-box {
     background: rgba(33, 52, 72, 0.6);
     backdrop-filter: blur(0.75rem);
     border-radius:1.25rem;
     padding:2rem 1.5rem;
     position:relative;
     overflow:hidden;
     box-shadow: 0 0.9375rem 2.1875rem rgba(0,0,0,0.4);
     cursor:pointer;
     transition: transform 0.5s ease, box-shadow 0.5s ease;
}
 .stat-box:hover {
     transform: translateY(-0.625rem);
     box-shadow: 0 1.5625rem 3.125rem rgba(0,0,0,0.6);
}
 .stat-number {
     font-size:3rem;
     font-weight:700;
     color:var(--base-color);
     opacity:0;
     transform: translateY(1.875rem);
     transition: all 1s ease;
}
 .stat-box.visible .stat-number {
     opacity:1;
     transform: translateY(0);
}
 .stat-label {
     margin-top:0.625rem;
     font-size:1.875rem;
     color: var(--font-color);
     font-weight: var(--button-weight);
}
 .stat-icon {
     position:absolute;
     top:0.9375rem;
     left:0.9375rem;
     font-size:1.5rem;
     opacity:0.3;
}
 .loader {
     transform: translateZ(0.0625rem);
}
 .loader:after {
     content: '$';
     display: inline-block;
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
     text-align: center;
     line-height:2.5rem;
     font-size: 2rem;
     font-weight: bold;
     background: #FFD700;
     color: #DAA520;
     border: 0.25rem double ;
     box-sizing: border-box;
     box-shadow: 0.125rem 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, .1);
     animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
 @keyframes coin-flip {
     0%, 100% {
         animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
     0% {
         transform: rotateY(0deg);
    }
     50% {
         transform: rotateY(1800deg);
         animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
     100% {
         transform: rotateY(3600deg);
    }
}
 .stat-box i{
     margin-top: 0.3125rem;
     font-size: 2.5rem;
     color: var(--font-color);
}
 .loader1 {
     width: 3rem;
     height: 0.75rem;
     background: var(--font-color);
     margin-top: 2.5rem;
     display: inline-block;
     position: relative;
}
 .loader1::after {
     content: '';
     left: 50%;
     bottom: 0;
     transform: translate(-50%, 0);
     position: absolute;
     border: 0.9375rem solid transparent;
     border-top-color: var(--font-color);
     box-sizing: border-box;
     animation: bump 0.4s ease-in-out infinite alternate;
}
 .loader1::before {
     content: '';
     left: 50%;
     bottom: 1.5625rem;
     transform: translate(-50%, 0);
     position: absolute;
     width: 0.9375rem;
     height: 1.25rem;
     background: var(--font-color);
     box-sizing: border-box;
     animation: bump 0.4s ease-in-out infinite alternate;
}
 @keyframes bump {
     0% {
         transform: translate(-50%, 0.3125rem);
    }
     100% {
         transform: translate(-50%, -0.3125rem);
    }
}
/************************************************ CONTACT US **************************************/
 .CONTACT{
     background-color: var(--base-color);
}
 .input-group {
     width: 100%;
     display: flex;
     gap:1.25rem;
}
 .CONTACT form .input1{
     width: 49%;
}
 .CONTACT form input,textarea{
     width: 100%;
     padding: 0.9375rem 0.9375rem;
     background-color: var(--font-color);
     line-height: 1.5;
     border-radius: 1.25rem;
     border: 0.21875rem solid var(--light-color);
     color: var(--base-color);
     transition: border-color 400ms;
}
 .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
     border-radius: 1.25rem;
}
 .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
     border-radius: 1.25rem;
}
 form input:focus{
     outline: none;
     border-color: var(--layer-color);
}
 form textarea:focus{
     outline: none;
     border-color: var(--layer-color);
}
 input,textarea::placeholder{
     font-family: var(--font-family);
}
 form textarea{
     resize: vertical;
}
 form .btn{
     padding: .625rem 1.5625rem;
     border-radius:1.25rem ;
     border: none;
     margin-top: .9375rem;
     background-color:var(--layer-color);
     transition: 0.5s;
     color: var(--font-color);
}
 .CONTACT form {
     gap: 0.9375rem;
     padding: 1.25rem;
     display: flex ;
     flex-direction: column;
     align-items: center;
     background-color:var(--base-color);
}
 form .btn:hover{
     background-color:var(--light-color);
     transition: 0.5s;
}
/***************************************** FOOTER **********************************/
 footer p{
     font-size:0.9375rem;
     font-family: var(--font-default);
     font-weight: 400;
}
 footer{
     color: white;
     box-shadow: 0 0 1.875rem #00000014;
     background-image: url(/home/images/download.webp);
     background-repeat: repeat;
     background-position: top left;
     background-size: 4rem 4rem;
     background-color: #101010;
     background-blend-mode: overlay;
}
 footer .all-content{
     display: flex;
     justify-content: space-between;
     gap:3.125rem 
}
 .contact-details h3{
     padding-left: 2.5rem;
}
 footer .about{
     width: 30%;
}

 footer .logo img{
     width: 21.875rem;
     height: 12.5rem;
     object-fit: contain;
}
 footer .logo {
     margin-right: 6.25rem;
     margin-bottom: 12.5rem;
}
 footer .logo h2{
     font-size: 1.875rem;
     padding-right: 0.1875rem;
     margin-top: 0.625rem;
     position: relative;
}
 footer .logo h2::after{
     position: absolute;
     content: "";
     display: block;
     height:0.3125rem;
     width: 0.3125rem;
     border-radius: 50%;
     background-color:var(--base-color);
     right: 0rem;
     bottom: .5rem;
}
 .about h3{
     margin-bottom: 0.625rem;
     padding: 0.625rem;
     text-align: center;
     border-bottom: 0.125rem solid #ddd6;
}
 .social-links{
     text-align: center;
     display: flex;
     justify-content: center;
     justify-content: space-evenly;
     font-size: 1.5rem;
}
 .social-links a{
     color: white;
}
 .subscription{
     width: 60%;
}
 footer .sunscription-group{
     margin-block: 1.25rem;
     display: flex;
     justify-content: space-between;
     gap: 0.3125rem;
}
 footer .sunscription-group input {
     background-color: var(--font-color);
     color: var(--base-color);
     border-radius: 1.25rem;
     flex-grow: 1;
     padding: 0.625rem;
     outline: none;
}
 .sunscription-group button{
     padding: .625rem ;
     min-width: 6.875rem;
     border-radius: 1.25rem;
     border: none;
     background-color:var(--layer-color);
     transition: 0.5s;
     font-family: var(--font-default);
     color: white;
}
 .sunscription-group button:hover{
     background-color:var(--light-color);
     transition: 0.5s;
}
 .quick-links ul{
     padding-top: 0.625rem;
     display: inline-block;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
}
 .quick-links li{
     width: 50%;
     transition: 400ms;
     padding: 0.3125rem;
}
 .quick-links li:hover{
     transform: translateX(0.3125rem);
     background-color: #222;
}
 ul li a{
     color:white;
}
 .contact-details ul{
     display: flex;
     line-height: 1.5625rem;
     flex-flow: column;
     margin-top: 0.625rem;
}
 .contact-details li{
     display: flex;
     gap: 0.625rem;
}
 .contact-details i{
     color:var(--layer-color);
     margin-top: 0.3125rem;
}
 .contact-details span,a{
     padding-bottom: 1.25rem;
     color: var(--font-color);
     font-size:1.125rem;
     font-weight: 400;
     text-shadow: none;
}
